<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
      <title>{% block title %} {% endblock %}</title>

  {% block style %}
  {% endblock %}


</head>
<body>
<header>
<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src='/static/img/tea-leaf.png' alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
      TEA space
    </a>
  </div>
    <div>
              {% if 'company' in session %}
              <a href="{{ url_for('auth.logout') }}" class="btn btn-light" role="button">LogOut</a>
              <a href="{{ url_for('auth.register') }}" class="btn btn-outline-light" role="button">Register</a>
              {% else %}
              <a href="{{ url_for('auth.login') }}" class="btn btn-light" role="button">Login</a>
              <a href="{{ url_for('auth.register') }}" class="btn btn-outline-light" role="button">Register</a>
              {% endif %}
    </div>
</nav>
</header>
<main>
    {% block content %}
    {% endblock %}
</main>
</body>
</html>