<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
      <title>{% block title %} {% endblock %}</title>

  {% block style %}
  {% endblock %}


</head>
<body>
<header class="header">
    <nav class="navbar bg-body-tertiary bg-success-subtle">
        <div class="container-fluid ">
        <a class="navbar-brand" href="{{ url_for('tea.home') }}">
          <img src='/static/img/tea-leaf.png' alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
          TEA space
        </a>
        </div>
            <div class = 'links'>
                  {% if 'user' in session %}
                  <a href="{{ url_for('auth.logout') }}" class="btn btn-light" role="button">LogOut</a>
                  <a href="{{ url_for('auth.register') }}" class="btn btn-light" role="button">Register</a>
                  <a href="{{ url_for('tea.to_user_page') }}" class="btn btn-light" role="button">Your page</a>
                  {% else %}
                  <a href="{{ url_for('auth.login') }}" class="btn btn-light" role="button">Login</a>
                  <a href="{{ url_for('auth.register') }}" class="btn btn-light" role="button">Register</a>
                  <a href="{{ url_for('tea.to_user_page') }}" class="btn btn-light" role="button">Your page</a>
                  {% endif %}
            </div>
    </nav>
</header>
<main>
    <div>
        {% with messages = get_flashed_messages() %}
        {% for msg in messages %}
          <div class="alert alert-info" role="alert">
            {{ msg }}
          </div>
        {% endfor %}
      {% endwith %}
    </div>
    {% block content %}
    {% endblock %}
</main>
</body>
</html>