{% extends "base.html" %}
{% block title %}
Login
{% endblock %}
{% block style %}
<link rel = "stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block content %}
<main>
    <form method="POST">
        <div >
          <input  name="company" type="text" placeholder="Company">
        </div>
    <div class="password-container">
        <div class="col-md-2">
            <input id="password" name="password" type="password" placeholder="Password">
                <button type="button" id="togglePassword">👁️</button>
    </div>
        </div>
        <div >
        <button type="submit">login</button>
        </div>
  </form>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</main>
{% endblock %}





