<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Products</title>
</head>
<body>
  <h1>Product manager</h1>

  {% with messages = get_flashed_messages() %}
    {% for msg in messages %}
      <p>{{ msg }}</p>
    {% endfor %}
  {% endwith %}

  <h3>Add product:</h3>

  <form method="POST">
    <input name="name" type="text" placeholder="Title">
    <input name="price" type="number" placeholder="Price">
    <input name="category" type="text" placeholder="Category">

    <button type="submit">Add</button>
  </form>


  <h3>Products:</h3>



  <table border="1" cellpadding="5" >

    <thead>
      <tr>
        <th>Title</th>
        <th>Price</th>
        <th>Category</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody>

      {% for name, info in products.items() %}
        <tr>
          <td>{{ name }}</td>
          <td>{{ info['price'] }}</td>
          <td>{{ info['category'] }}</td>

          <td>

            <a href="{{ url_for('delete', name_product=name) }}">
              <button>Delete</button>
            </a>
          </td>

            <td>

            <a href="{{ url_for('update', name_product=name) }}">
              <button>update</button>
            </a>
          </td>

        </tr>
      {% endfor %}

    </tbody>

    <tfoot></tfoot>
  </table>

</body>
</html>
