<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <title>Products</title>
  <link rel = "stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<header class="header">
    <div class="container">
      <div class="logo">

        <a href="{{ url_for('products') }}">
          <!-- Адреса до статичного файлу -->
          <img src="{{ url_for('static', filename='image/cart.png') }}" alt="logo">
          <span>Product Manager</span>
        </a>
        <div>
  <a href="{{ url_for('login') }}" class="btn btn-light" role="button">Login</a>
  <a href="{{ url_for('register') }}" class="btn btn-outline-light" role="button">Register</a>
</div>

      </div>
    </div>
  </header>

<main>
   <div class="container">
      <h1>Product manager</h1>

      {% with messages = get_flashed_messages() %}
        {% for msg in messages %}
          <p>{{ msg }}</p>
        {% endfor %}
      {% endwith %}

      <h3>Add product:</h3>

      <form method="POST">
        <input name="name" type="text" placeholder="Title">
        <input name="price" type="number" placeholder="Price">
        <input name="category" type="text" placeholder="Category">

        <button type="submit">Add</button>
      </form>


      <h3>Filter:</h3>


      <form method="GET">
        <select name="category">
          <option value="all" {% if choose_category=="all" %} selected {% endif %} > All</option>

          {% for category in categories %}
            <option value={{category}} {% if choose_category==category %} selected {% endif %} >{{ category }}</option>
          {% endfor %}
        </select>

        <button type="submit">Submit</button>
      </form>



      <h3>Products:</h3>



      <table border="1" cellpadding="5" >

        <thead>
          <tr>
            <th>Title</th>
            <th>Price</th>
            <th>Category</th>
            <th>Action</th>
          </tr>
        </thead>

        <tbody>

          {% for product in products %}
            <tr>
              <td>{{ product.name }}</td>
              <td>{{ product.price }}</td>
              <td>{{ product.category }}</td>

              <td>


                  <a href="{{ url_for('update', name_product=product.name) }}">
                    <button>Update</button>
                    </a>
                    <form class="action-form"
                            action="{{ url_for('delete', name_product=product.name) }}"
                            method="POST">
                        <button type="submit">Delete</button>
                    </form>
              </td>


            </tr>
          {% endfor %}

        </tbody>

        <tfoot></tfoot>
      </table>
   </div>
</main>
</body>
</html>